<table class="table">
    <thead>
    <tr>
        <th>Period</th>
        <th>Project</th>
        <th>Total Minutes Worked</th>
    </tr>
    </thead>
    <tbody>
    {% for reportPeriod, periodData in reportData %}
        {% for project, timeInMinutes in periodData %}
            <tr>
                <td>{{ reportPeriod }}</td>
                <td>{{ project }}</td>
                <td>{{ timeInMinutes }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>