{% extends 'base.html.twig' %}

{% block title %}Hello EvaluationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <h1>Evaluations ✅</h1>

    Choose the periodicity below:
    <ul>
        <li><a href="{{ path('app_evaluation_dailyevaluation') }}">Daily Evaluation</a></li>
        <li><a href="{{ path('app_evaluation_monthlyevaluation') }}">Monthly Evaluation</a></li>
        <li><a href="{{ path('app_evaluation') }}">Check Evaluations</a></li>
        <li><a href="{{ path('app_home') }}">Back to Top</a></li>
    </ul>
</div>
{% endblock %}
