{% extends 'base.html.twig' %}

{% block title %}Monthly Evaluation{% endblock %}

{% block body %}
    <h1>Monthly Evaluation</h1>

    {{ include('evaluation/_report.html.twig') }}

    <br>
    <ul>
        <li><a href="{{ path('app_evaluation') }}">Back to Evaluation</a></li>
        <li><a href="{{ path('app_home') }}">Back to top</a></li>
    </ul>

{% endblock %}
